#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/DeuterosGame.exe
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/DeuterosGame.exe.config
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/DeuterosGame.pdb
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/DeuterosGame.vshost.exe
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/Teraluwide.Blackbird.Core.dll
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/Teraluwide.Blackbird.Core.pdb
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/DeuterosGame.vshost.exe.config
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/DeuterosGame.vshost.exe.manifest
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/inlineSources.cs
DeuterosX/Teraluwide.DeuterosEx.DeuterosGame/mods/default/save/_lastGame.xml
